<div class="watchView">
    <div class="leftSide">
        <div class="videoPlayer">

        </div>
        <div class="videoDetailsCon">
            <div>
                <h4>Pop OS 22.04 vs Ubuntu 22.04: RAM Usage</h4>
            </div>
            <div>
                <div>

                </div>
                <div>
                    <div>
                        <span class="material-icons-outlined">&#xe8dc;</span>
                        <span>34k</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">&#xe8db;</span>
                        <span>DISLIKE</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined" style="direction: ltr;">&#xe15e;</span>
                        <span>SHARE</span>
                    </div>
                    <div>
                        <span class="material-icons">&#xe03b;</span>
                        <span>SAVE</span>
                    </div>
                    <div>
                        <span class="material-icons">&#xe5d3;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="relatedVideos">
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
        </div>
    </div>
</div>
