<div class="watchView">
    <div class="leftSide">
        <div class="videoPlayer">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FqAjVAf5fNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <div class="videoDetailsCon">
            <div>
                <h5 class="vidTitle">Pop OS 22.04 vs Ubuntu 22.04: RAM Usage</h5>
            </div>
            <div class="actionsDivCon">
                <div class="m-0 text-muted d-flex jusify-content-center align-items-center">
                    <!-- video view count -->
                    <span style="font-size: 13px;">1k views</span>
                    <div class="material-icons mx-1" style="font-size: 4px;">circle</div>
                    <!-- video published date  -->
                    <span style="font-size: 13px">4 hours ago</span>
                </div>
                <div class="actionsDiv">
                    <div class="actionBtn" matTooltip="I like this" matTooltipPositon="below">
                        <span class="material-icons-outlined ico">&#xe8dc;</span>
                        <span class="action">34k</span>
                    </div>
                    <div class="actionBtn" matTooltip="I dislike this" matTooltipPositon="below">
                        <span class="material-icons-outlined ico">&#xe8db;</span>
                        <span class="action">DISLIKE</span>
                    </div>
                    <div class="actionBtn" matTooltip="Share" matTooltipPositon="below">
                        <span class="material-icons-outlined ico" style="direction: ltr;">&#xe15e;</span>
                        <span class="action">SHARE</span>
                    </div>
                    <div class="actionBtn" matTooltip="Clip" matTooltipPositon="below">
                        <span class="material-icons ico">&#xe14e;</span>
                        <span class="action">CLIP</span>
                    </div>
                    <div class="actionBtn" matTooltip="Save" matTooltipPositon="below">
                        <span class="material-icons ico">&#xe03b;</span>
                        <span class="action">SAVE</span>
                    </div>
                    <div class="actionBtn">
                        <span class="material-icons">&#xe5d3;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="descriptionAreaCon">
            <div class="channelDetails">
                <div class="channelAvatar">
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div class="channelName_numOfSubscribers">
                    <div>
                        <h5>telek411</h5>
                        <span>8.47k subscribers</span>
                    </div>
                    <div class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                    </div>
                </div>
                <div class="subscribeBtnDiv">
                    <button class="subscribeBtn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="commentAreaCon">
            <app-comment-section></app-comment-section>
        </div>
    </div>
    <div class="rightSide">
        <div class="relatedVideos">
            <div class="videoCard" *ngFor="let video of relatedVideos">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!! We ran OUT of IP Addresses!!We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0 text-muted" style="font-size: 13px;">NetworkChuck</p>
                    <div class="m-0 text-muted d-flex jusify-content-center align-items-center">
                        <!-- video view count -->
                        <span style="font-size: 12px;">1k views</span>
                        <div class="material-icons mx-1" style="font-size: 4px;">circle</div>
                        <!-- video published date  -->
                        <span style="font-size: 12px">4 hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
