<div class="watchView">
    <div class="leftSide">
        <div class="videoPlayer">
            <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FqAjVAf5fNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videoDetailsCon">
            <div>
                <h4 style="font-family: Roboto, Arial, sans-serif;">Pop OS 22.04 vs Ubuntu 22.04: RAM Usage</h4>
            </div>
            <div class="actionsDivCon">
                <div style="font-size: 19px;">
                    <span>601 views</span>
                    <span> . </span>
                    <span>11 Apr 2022</span>
                </div>
                <div class="actionsDiv">
                    <div matTooltip="I like this" matTooltipPositon="below">
                        <span class="material-icons-outlined">&#xe8dc;</span>
                        <span class="action">34k</span>
                    </div>
                    <div matTooltip="I dislike this" matTooltipPositon="below">
                        <span class="material-icons-outlined">&#xe8db;</span>
                        <span class="action">DISLIKE</span>
                    </div>
                    <div matTooltip="Share" matTooltipPositon="below">
                        <span class="material-icons-outlined" style="direction: ltr;">&#xe15e;</span>
                        <span class="action">SHARE</span>
                    </div>
                    <div matTooltip="Clip" matTooltipPositon="below">
                        <span class="material-icons">&#xe14e;</span>
                        <span class="action">CLIP</span>
                    </div>
                    <div matTooltip="Save" matTooltipPositon="below">
                        <span class="material-icons">&#xe03b;</span>
                        <span class="action">SAVE</span>
                    </div>
                    <div>
                        <span class="material-icons">&#xe5d3;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="descriptionAreaCon">
            <div class="channelDetails">
                <div class="channelAvatar">
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div class="channelName_numOfSubscribers">
                    <div>
                        <h5>telek411</h5>
                        <span>8.47k subscribers</span>
                    </div>
                    <div class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis laboriosam saepe quibusdam rerum nesciunt qui similique expedita ipsum, vitae repudiandae accusantium eos necessitatibus velit magni odit quae exercitationem quisquam.
                    </div>
                </div>
                <div class="subscribeBtnDiv">
                    <button class="subscribeBtn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="commentAreaCon">
            <app-comment-section></app-comment-section>
        </div>
    </div>
    <div class="rightSide">
        <div class="relatedVideos">
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
            <div class="videoCard">
                <div class="videoThumbnail">

                </div>
                <div class="videoMediaBody">
                    <h5 class="videoTitle">We ran OUT of IP Addresses!!</h5>
                    <p class="channelName m-0">NetworkChuck</p>
                    <span class="viewsNo">349k views</span>
                    <span> . </span>
                    <span class="uploadDate">4 days ago</span>
                </div>
            </div>
        </div>
    </div>
</div>
