section.commentSection{
    font-family: roboto;
    width: 100%;
    border-top: 2px solid #E0E0E0;
    .heading{
        width: 100%;
        padding: 20px 0px 20px 0px;
        p{
            font-size: 16px;
            line-height: 22px;
        }
    }
    .commentPublicly{
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        .avatar{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: lightgrey;
        }
        .inputDiv{
            width: calc(100% - 100px);
            margin-left: 20px;
            input{
                width: 100%;
                border: none;
                border-bottom: 2px solid #E0E0E0;
                outline: none;
            }
        }
    }
    .commentsCon{
        width: 100%;
        .comment{
            width: 100%;
            display: flex;
            margin-bottom: 25px;
            .commentAvatar{
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: lightgrey;
                flex-shrink: 0;
            }
            .commentDetails{
                // width: calc(100% - 60px);
                margin-left: 20px;
                
                // padding-right: 60px;
                .commentName{
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 18px;
                }
                .commentTime{
                    color: #030303;
                    font-size: 12px;
                }
                .commentText{
                    font-size: 14px;
                    line-height: 20px;
                    width: calc(100% - 50px);
                }
                .replyBtn{
                    border: none;
                    outline: none;
                    background: transparent;
                }
                .commentAction{
                    font-size: 13px;
                    gap: 24px;
                    .ico{
                        font-size: 16px;
                    }
                }
                .viewMoreReplies{
                    gap: 7px;
                    color: #065FD4;
                    cursor: pointer;
                    h6{
                        font-size: 14px;
                    }
                }
            }
            .menuBtn{
                border: none;
                outline: none;
                background-color: transparent;
                display: none;
            }
        }
        .comment:hover .menuBtn{
            display: inline;
        }
    }
    .replies{
        width: 100%;
        .reply{
            width: 100%;
            display: flex;
            margin: 10px 0;
            .replyAvatar{
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: lightgrey;
                flex-shrink: 0;
            }
            .replyDetails{
                // width: calc(100% - 60px);
                margin-left: 20px;
                .replyName{
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 18px;
                }
                .replyTime{
                    color: #030303;
                    font-size: 12px;
                }
                .replyText{
                    font-size: 14px;
                    width: calc(100% - 50px);
                }
                .replyBtn{
                    border: none;
                    outline: none;
                    background: transparent;
                }
                .replyAction{
                    font-size: 13px;
                    gap: 24px;
                    .ico{
                        font-size: 16px;
                    }
                }
                .viewMoreReplies{
                    gap: 7px;
                    color: #065FD4;
                    h6{
                        font-size: 14px;
                    }
                }
            }
            .replyMenuBtn{
                border: none;
                outline: none;
                background-color: transparent;
                display: none;
            }
        }
        .reply:hover .replyMenuBtn{
            display: inline;
        }
    }
}