<section class="commentSection">
    <div class="heading">
        <div>
            <p>525 Comments</p>
        </div>
        <div>

        </div>
    </div>
    <div class="commentPublicly">
        <div class="avatar">

        </div>
        <div class="inputDiv">
            <input type="text" placeholder="Add a comment..." name="" id="">
        </div>
    </div>
    <div class="commentsCon">
        <div class="comment position-relative" *ngFor="let comment of comments">
            <div class="commentAvatar">

            </div>
            <div class="commentDetails">
                <div style="margin-bottom: 10px;">
                    <span class="commentName">Kanu Gamer </span>
                    <span class="commentTime">9 hours ago</span>
                </div>
                <p class="commentText">Best os for 2gb ram intel core 2 duo for smooth performance Best os for 2gb ram intel core 2 duo for smooth performance Best os for 2gb ram intel core 2 duo for smooth performance Best os for 2gb ram intel core 2 duo for smooth performance</p>
                <div class="d-flex commentAction">
                    <div class="d-flex align-items-center">
                        <span class="material-icons-outlined ico">&#xe8dc;</span>
                        <span class="ml-2" style="color: #606060;">2.2k</span>
                    </div>
                    <div>
                        <i class="material-icons-outlined ico">&#xe8db;</i>
                    </div>
                    <!-- <i style="display: none;" class="material-icons"></i> -->
                    <button class="replyBtn" style="color: #606060;">REPLY</button>
                </div>
            </div>
            <div class="position-absolute" style="width: 40px; height: 40px; right: 0; top: 0;">
                <button class="material-icons menuBtn">&#xe5d4;</button>
            </div>
        </div>
    </div>
</section>
