

<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop">
    <mat-drawer #drawer [mode]="'over'">
        <div class="">
            <div class="leftTopNav d-flex align-items-center">
                <span  (click)="drawer.toggle()" class="navToggleBtn mr-5 d-flex justify-content-center align-items-center"><span class="material-icons">&#xe5d2;</span></span>
                <a class="navbar-brand"  style="width: 120px;">
                    <img src="../../assets/images/youtube-logo.png" style="width: 150px;" alt="logo">
                </a>
            </div>
            <ul class="drawerViews pl-0 pt-3">
                <li class="active d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons">&#xe88a;</i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe87a;</i>
                        <span>Explore</span>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe88a;</i>
                        <span>Shorts</span>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe064;</i>
                        <span>Subscriptions</span>
                    </a>
                </li>
            </ul>
            <ul class="drawerViews pl-0 pt-3">
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe04a;</i>
                        <span>Library</span>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe889;</i>
                        <span>History</span>
                    </a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe192;</i>
                        <span>Watch Later</span>
                    </a>
                </li>
                <li *ngIf="userIsSignedIn" class="d-flex align-items-center">
                    <a href="" class="">
                        <i class="material-icons-outlined">&#xe8dc;</i>
                        <span>Liked Videos</span>
                    </a>
                </li>
            </ul>
            <div *ngIf="!userIsSignedIn" class="pl-5 " style="font-size: 19px;">
                <p>Sign in to like videos, comment and subscribe</p>
                <button *ngIf="!userIsSignedIn" class="signInBtn"><span class="material-icons">&#xe853;</span><b>SIGN IN</b></button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <nav class="navbar">
            <div class="leftTopNav d-flex align-items-center">
                <span  (click)="drawer.toggle()" class="navToggleBtn d-flex justify-content-center align-items-center"><span class="material-icons">&#xe5d2;</span></span>
                <a class="navbar-brand">
                    <img src="../../assets/images/youtube-logo.png" style="width: 120px;"alt="">
                </a>
            </div>
            <div class="centerTopNav">
                <div class="searchIconDiv d-flex justify-content-center align-items-center">
                    <span class="material-icons ">&#xe8b6;</span>
                </div>
                <input class="navSearch" type="text" (focus)="inputFocus($event)" (blur)="inputBlur($event)" #searchInput placeholder="Search" name="" id="">
                <button class="searchBtn"><span class="material-icons">&#xe8b6;</span></button>
                <span *ngIf="searchInput.value != ''" class="material-icons" style="position: relative; left: -95px" (click)="searchInput.value = ''">&#xe14c;</span>
                <span class="material-icons">&#xe029;</span>
            </div>
            <div class="rightTopNav">
                <span class="youtubeAppsBtn material-icons"><span>&#xe5c3;</span></span>
                <span class="navMenuBtn material-icons"><span>&#xe5d4;</span></span>
                <button *ngIf="userIsSignedIn" class="createVideo material-icons"><span>&#xe070;</span></button>
                <button *ngIf="!userIsSignedIn" class="signInBtn" style="font-size: 18px;"><span class="material-icons-outlined mr-2">&#xe853;</span>SIGN IN</button>
            </div>
        </nav>
        <div class="afterNavbar">
            <div class="viewsArea">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
