<div class="miniSideNav">
    <ul class="view p-0">
        <li class="d-flex justify-content-center align-items-center">
            <a href="" class="d-flex justify-content-center align-items-center">
                <div>
                    <i class="material-icons">&#xe88a;</i>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li class="d-flex justify-content-center align-items-center">
            <a href="" class="d-flex justify-content-center align-items-center">
                <div>
                    <i class="material-icons-outlined">&#xe87a;</i>
                    <p>Explore</p>
                </div>
            </a>
        </li>
        <li class="d-flex justify-content-center align-items-center">
            <a href="" class="d-flex justify-content-center align-items-center">
                <div>
                    <i class="material-icons-outlined">&#xe88a;</i>
                    <p>Shorts</p>
                </div>
            </a>
        </li>
        <li class="d-flex justify-content-center align-items-center">
            <a href="" class="d-flex justify-content-center align-items-center">
                <div>
                    <i class="material-icons-outlined">&#xe064;</i>
                    <p>Subscriptions</p>
                </div>
            </a>
        </li>
        <li class="d-flex justify-content-center align-items-center">
            <a href="" class="d-flex justify-content-center align-items-center">
                <div>
                    <i class="material-icons-outlined">&#xe04a;</i>
                    <p>Library</p>
                </div>
            </a>
        </li>
    </ul>
</div>
