.miniSideNav{
    width: 70px;
    height: 90vh;
    // border-right: 2px solid lightgray;
    font-family: roboto, Arial, sans-serif;
    .view{
        list-style: none;
        li{
            display: block;
            div{
                text-align: center;
            }
        }
        li:hover{
            background-color: #ECECEC;
        }
        a{
            width: 70px;
            height: 70px;
            text-decoration: none;
            p{
                display: block;
                color: black;
                margin-bottom: 0;
                font-size: 10px;
                line-height: 14px;
            }
            i{
                font-size: 24px;
                color: black;
            }
        }
        
    }
    
}