.homeCon{
    display: flex;
}

.homeViewArea{
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}
.homeChips{
    width: 100%;
    padding-left: 40px; 
    padding-right: 40px; 
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #E5E5E5;
    mat-chip{
        font-size: 18px;
        padding: 19px;
        font-weight: 300;
        background-color: #0000000D;
        border: 1px solid #CECECE;
        border-radius: 22px;
    }
    
}

.resultDiv{
    width: 100%;
    padding: 20px;
    .videoResultdiv{
        width: 100%;
        //width: fit-content;
        .videoCard{
            width: 23%;
            max-width: 23.58%;
            flex-grow: 0.25;
            height: 280px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 40px;
            .videoThumbnail{
                width: 100%;
                height: 200px;
                background-color: #E1E1E1;
            }
            .videoMediaBody{
                width: 100%;
                height: auto;
            }
        }
    }
}
