<div class="homeChips">
    <mat-chip-list>
        <mat-chip color="none" selected>All</mat-chip>
        <mat-chip color="none" selected>Linux</mat-chip>
        <mat-chip color="none" selected>Computer Programming</mat-chip>
        <mat-chip color="none" selected>Nollywood</mat-chip>
        <mat-chip color="none" selected>Music</mat-chip>
        <mat-chip color="none" selected>Python</mat-chip>
        <mat-chip color="none" selected>Raspberry Pi</mat-chip>
    </mat-chip-list>
</div>
<div class="resultDiv">
    <div class="videoResultdiv d-flex flex-wrap justify-content-start">
        <div class="videoCard">
            <div class="videoThumbnail" (click)="goToWatchPage()">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody pt-3 d-flex justify-content-between">
                <div style="min-width: 45px; height: 45px; border-radius: 22px; background-color: #E1E1E1;">

                </div>
                <div class="pl-4 d-flex flex-wrap align-content-around">
                    <div class="mb-2" style="width: 250px; height: 17px; background-color: #E1E1E1;">
                        
                    </div>
                    <div class="mt-2" style="width: 175px; height: 17px; background-color: #E1E1E1;">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
