<div class="homeChips">
    <mat-chip-list>
        <mat-chip color="none" selected>All</mat-chip>
        <mat-chip color="none" selected>Linux</mat-chip>
        <mat-chip color="none" selected>Computer Programming</mat-chip>
        <mat-chip color="none" selected>Nollywood</mat-chip>
        <mat-chip color="none" selected>Music</mat-chip>
        <mat-chip color="none" selected>Python</mat-chip>
        <mat-chip color="none" selected>Raspberry Pi</mat-chip>
    </mat-chip-list>
</div>
<div class="resultDiv">
    <div class="videoResultdivd-flex justify-content-between pl-3 pr-3">
        <div class="videoCard">
            <div class="videoThumbnail">

            </div>
            <div class="videoMediaBody d-flex justify-content-between">
                <div style="width: 36px; height: 36px; border: 100%;">

                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
